{% extends 'base.html' %}

{% block titulo %}Semi Final{% endblock %}

{% block content %}

<style>
    .data-jogos {
        font-size: .9rem;
        font-weight: 500;
        margin-top: 24px;
        margin-bottom: 20px;
    }

    hr {
        margin-top: 24px;
    }


    input {
        width: 55px;
        text-align: center;
        border: 2px solid #84CAD5;
    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    @media (max-width: 475px) {
        input {
            width: 40px;
        }
    }

    @media (max-width: 386px) {
        input {
            width: 32px;
        }
    }
</style>

<div class="row">
    <div class="col mt-4">
        <div class="text-center">
            <h3>Semi Final</h3>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="text-center">
            <form action="{% url 'main:salvareliminatoriassemi' %}" method="POST">
                {% csrf_token %}

                <h5>Jogo 61</h5>

                <p class="lead data-jogos">TER, 13/12/2022 às 16:00</p>
                <div class="row">
                    <div class="col-4 text-right">
                        <span id="selecao1Semi" class="nome-selecoes">{{ selecao1Semi }}</span>
                    </div>
                    <div class="col-4">
                        <input type="number" min="0" max="10" id="res25" name="res25" value="{{ info.res25 }}" required>
                        X
                        <input type="number" min="0" max="10" id="res26" name="res26" value="{{ info.res26 }}" required>
                    </div>
                    <div class="col-4 text-left">
                        <span id="selecao2Semi" class="nome-selecoes">{{ selecao2Semi }}</span>
                    </div>
                </div>

                <hr />

                <h5>Jogo 62</h5>

                <p class="lead data-jogos">QUA, 14/12/2022 às 16:00</p>
                <div class="row">
                    <div class="col-4 text-right">
                        <span id="selecao3Semi" class="nome-selecoes">{{ selecao3Semi }}</span>
                    </div>
                    <div class="col-4">
                        <input type="number" min="0" max="10" id="res27" name="res27" value="{{ info.res27 }}" required>
                        X
                        <input type="number" min="0" max="10" id="res28" name="res28" value="{{ info.res28 }}" required>
                    </div>
                    <div class="col-4 text-left">
                        <span id="selecao4Semi" class="nome-selecoes">{{ selecao4Semi }}</span>
                    </div>
                </div>

                <hr />

                <div class="mt-4">
                    <button type="submit" class="btn btn-info btn-lg mr-2">
                        <span class="">Salvar</span>
                    </button>
                    <a href="{% url 'main:pagemain' %}">
                        <button type="button" class="btn btn-info btn-lg">
                            <span class="">Voltar</span>
                        </button>
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    let selecao1Semi = document.getElementById('selecao1Semi').innerText
    let selecao2Semi = document.getElementById('selecao2Semi').innerText
    let selecao3Semi = document.getElementById('selecao3Semi').innerText
    let selecao4Semi = document.getElementById('selecao4Semi').innerText

    if (selecao1Semi.length == 16 || selecao2Semi.length == 16) {
        var input1 = document.querySelector('#res25')
        var input2 = document.querySelector('#res26')
        input1.disabled = true
        input2.disabled = true
    }
    if (selecao3Semi.length == 16 || selecao4Semi.length == 16) {
        var input1 = document.querySelector('#res27')
        var input2 = document.querySelector('#res28')
        input1.disabled = true
        input2.disabled = true
    }
</script>

{% endblock %}