{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="text-center">
            <h3>Eliminatórias</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="text-center">
            <h5>Quartas de Final</h5>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="text-center">
            <form action="{% url 'main:salvareliminatoriasquartas' %}" method="POST">
                {% csrf_token %}

                <p class="lead"><strong>Jogo 57</strong></p>
                <span>{{ selecao1quartas }} <input type="number" min="0" max="10" id="res17" name="res17"
                        value="{{ info.res17 }}" required> x
                    <input type="number" min="0" max="10" id="res18" name="res18" value="{{ info.res18 }}" required>
                    {{ selecao2quartas }}
                </span>
                <br />
                <br />

                <p class="lead"><strong>Jogo 58</strong></p>
                <span>{{ selecao3quartas }} <input type="number" min="0" max="10" id="res19" name="res19"
                        value="{{ info.res19 }}" required> x <input type="number" min="0" max="10" id="res20"
                        name="res20" value="{{ info.res20 }}" required> {{ selecao4quartas }} </span>
                <br />
                <br />

                <p class="lead"><strong>Jogo 59</strong></p>
                <span>{{ selecao5quartas }} <input type="number" min="0" max="10" id="res21" name="res21"
                        value="{{ info.res21 }}" required> x <input type="number" min="0" max="10" id="res22"
                        name="res22" value="{{ info.res22 }}" required> {{ selecao6quartas }} </span>
                <br />
                <br />

                <p class="lead"><strong>Jogo 60</strong></p>
                <span>{{ selecao7quartas }} <input type="number" min="0" max="10" id="res23" name="res23"
                        value="{{ info.res23 }}" required> x <input type="number" min="0" max="10" id="res24"
                        name="res24" value="{{ info.res24 }}" required> {{ selecao8quartas }} </span>
                <br />
                <br />

                <button type="submit" class="btn btn-info btn-lg">
                    <span class="ml-2">Salvar resultados</span>
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}