{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="text-center">
            <h3>Eliminatórias</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="text-center">
            <h5>Disputa 3º Lugar</h5>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="text-center">
            <form action="{% url 'main:salvareliminatoriasfinal' %}" method="POST">
                {% csrf_token %}

                <p class="lead"><strong>Jogo 63</strong></p>
                <span>{{ selecao1TerceiroLugar }} <input type="number" min="0" max="10" id="res29" name="res29"
                        value="{{ info.res29 }}"> x
                    <input type="number" min="0" max="10" id="res30" name="res30" value="{{ info.res30 }}">
                    {{ selecao2TerceiroLugar }}
                </span>
                <br />
                <br />

                <div class="row mt-4">
                    <div class="col">
                        <div class="text-center">
                            <h5>Final</h5>
                        </div>
                    </div>
                </div>

                <p class="lead"><strong>Jogo 64</strong></p>
                <span>{{ selecao1Final }} <input type="number" min="0" max="10" id="res31" name="res31"
                        value="{{ info.res31 }}"> x
                    <input type="number" min="0" max="10" id="res32" name="res32" value="{{ info.res32 }}">
                    {{ selecao2Final }}
                </span>
                <br />
                <br />

                <button type="submit" class="btn btn-info btn-lg">
                    <span class="ml-2">Salvar resultados</span>
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}