{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="text-center">
            <h3>Eliminatórias</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="text-center">
            <h5>Oitavas de Final</h5>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="text-center">
            <form action="{% url 'main:salvareliminatoriasoitavas' %}" method="POST">
                {% csrf_token %}

                <p class="lead"><strong>Jogo 49</strong></p>

                <span id="primeiroColocadoA">{{ primeiroColocadoA }}</span>
                <input type="number" min="0" max="10" id="res1" name="res1" value="{{ info.res1 }}" required> x
                <input type="number" min="0" max="10" id="res2" name="res2" value="{{ info.res2 }}" required>
                <span id="segundoColocadoB">{{ segundoColocadoB }}</span>

                <br />
                <br />

                <p class="lead"><strong>Jogo 50</strong></p>

                <span id="primeiroColocadoC">{{ primeiroColocadoC }}</span>
                <input type="number" min="0" max="10" id="res3" name="res3" value="{{ info.res3 }}" required> x
                <input type="number" min="0" max="10" id="res4" name="res4" value="{{ info.res4 }}" required>
                <span id="segundoColocadoD">{{ segundoColocadoD }}</span>

                <br />
                <br />

                <p class="lead"><strong>Jogo 51</strong></p>

                <span id="primeiroColocadoB">{{ primeiroColocadoB }}</span>
                <input type="number" min="0" max="10" id="res5" name="res5" value="{{ info.res5 }}" required> x
                <input type="number" min="0" max="10" id="res6" name="res6" value="{{ info.res6 }}" required>
                <span id="segundoColocadoA">{{ segundoColocadoA }}</span>

                <br />
                <br />

                <p class="lead"><strong>Jogo 52</strong></p>

                <span id="primeiroColocadoD">{{ primeiroColocadoD }}</span>
                <input type="number" min="0" max="10" id="res7" name="res7" value="{{ info.res7 }}" required> x
                <input type="number" min="0" max="10" id="res8" name="res8" value="{{ info.res8 }}" required>
                <span id="segundoColocadoC">{{ segundoColocadoC }}</span>

                <br />
                <br />

                <p class="lead"><strong>Jogo 53</strong></p>

                <span id="primeiroColocadoE">{{ primeiroColocadoE }}</span>
                <input type="number" min="0" max="10" id="res9" name="res9" value="{{ info.res9 }}" required> x
                <input type="number" min="0" max="10" id="res10" name="res10" value="{{ info.res10 }}" required>
                <span id="segundoColocadoF">{{ segundoColocadoF }}</span>

                <br />
                <br />

                <p class="lead"><strong>Jogo 54</strong></p>

                <span id="primeiroColocadoG">{{ primeiroColocadoG }}</span>
                <input type="number" min="0" max="10" id="res11" name="res11" value="{{ info.res11 }}" required> x
                <input type="number" min="0" max="10" id="res12" name="res12" value="{{ info.res12 }}" required>
                <span id="segundoColocadoH">{{ segundoColocadoH }}</span>

                <br />
                <br />

                <p class="lead"><strong>Jogo 55</strong></p>

                <span id="primeiroColocadoF">{{ primeiroColocadoF }}</span>
                <input type="number" min="0" max="10" id="res13" name="res13" value="{{ info.res13 }}" required> x
                <input type="number" min="0" max="10" id="res14" name="res14" value="{{ info.res14 }}" required>
                <span id="segundoColocadoE">{{ segundoColocadoE }}</span>

                <br />
                <br />

                <p class="lead"><strong>Jogo 56</strong></p>

                <span id="primeiroColocadoH">{{ primeiroColocadoH }}</span>
                <input type="number" min="0" max="10" id="res15" name="res15" value="{{ info.res15 }}" required> x
                <input type="number" min="0" max="10" id="res16" name="res16" value="{{ info.res16 }}" required>
                <span id="segundoColocadoG">{{ segundoColocadoG }}</span>

                <br />
                <br />

                <button type="submit" class="btn btn-info btn-lg">
                    <span class="ml-2">Salvar resultados</span>
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    let primeiroColocadoA = document.getElementById('primeiroColocadoA').innerText
    let segundoColocadoB = document.getElementById('segundoColocadoB').innerText
    let primeiroColocadoC = document.getElementById('primeiroColocadoC').innerText
    let segundoColocadoD = document.getElementById('segundoColocadoD').innerText
    let primeiroColocadoB = document.getElementById('primeiroColocadoB').innerText
    let segundoColocadoA = document.getElementById('segundoColocadoA').innerText
    let primeiroColocadoD = document.getElementById('primeiroColocadoD').innerText
    let segundoColocadoC = document.getElementById('segundoColocadoC').innerText
    let primeiroColocadoE = document.getElementById('primeiroColocadoE').innerText
    let segundoColocadoF = document.getElementById('segundoColocadoF').innerText
    let primeiroColocadoG = document.getElementById('primeiroColocadoG').innerText
    let segundoColocadoH = document.getElementById('segundoColocadoH').innerText
    let primeiroColocadoF = document.getElementById('primeiroColocadoF').innerText
    let segundoColocadoE = document.getElementById('segundoColocadoE').innerText
    let primeiroColocadoH = document.getElementById('primeiroColocadoH').innerText
    let segundoColocadoG = document.getElementById('segundoColocadoG').innerText

    if (primeiroColocadoA.length == 16 || segundoColocadoB.length == 16) {
        var input1 = document.querySelector('#res1')
        var input2 = document.querySelector('#res2')
        input1.disabled = true
        input2.disabled = true
    }
    if (primeiroColocadoC.length == 16 || segundoColocadoD.length == 16) {
        var input1 = document.querySelector('#res3')
        var input2 = document.querySelector('#res4')
        input1.disabled = true
        input2.disabled = true
    }
    if (primeiroColocadoB.length == 16 || segundoColocadoA.length == 16) {
        var input1 = document.querySelector('#res5')
        var input2 = document.querySelector('#res6')
        input1.disabled = true
        input2.disabled = true
    }
    if (primeiroColocadoD.length == 16 || segundoColocadoC.length == 16) {
        var input1 = document.querySelector('#res7')
        var input2 = document.querySelector('#res8')
        input1.disabled = true
        input2.disabled = true
    }
    if (primeiroColocadoE.length == 16 || segundoColocadoF.length == 16) {
        var input1 = document.querySelector('#res9')
        var input2 = document.querySelector('#res10')
        input1.disabled = true
        input2.disabled = true
    }
    if (primeiroColocadoG.length == 16 || segundoColocadoH.length == 16) {
        var input1 = document.querySelector('#res11')
        var input2 = document.querySelector('#res12')
        input1.disabled = true
        input2.disabled = true
    }
    if (primeiroColocadoF.length == 16 || segundoColocadoE.length == 16) {
        var input1 = document.querySelector('#res13')
        var input2 = document.querySelector('#res14')
        input1.disabled = true
        input2.disabled = true
    }
    if (primeiroColocadoH.length == 16 || segundoColocadoG.length == 16) {
        var input1 = document.querySelector('#res15')
        var input2 = document.querySelector('#res16')
        input1.disabled = true
        input2.disabled = true
    }
</script>

{% endblock %}