{% extends 'base.html' %}

{% block content %}

<style>
    .data-jogos {
        font-size: .9rem;
        font-weight: 500;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    hr {
        margin-top: 24px;
    }
</style>

<div class="row">
    <div class="col mt-4">
        <div class="text-center">
            <h3>Semi Final</h3>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="text-center">
            <form action="{% url 'main:salvareliminatoriassemi' %}" method="POST">
                {% csrf_token %}

                <h5>Jogo 61</h5>

                <p class="lead data-jogos">TER, 13/12/2022 às 16:00</p>
                <span id="selecao1Semi">{{ selecao1Semi }}</span>
                <input type="number" min="0" max="10" id="res25" name="res25" value="{{ info.res25 }}" required> x
                <input type="number" min="0" max="10" id="res26" name="res26" value="{{ info.res26 }}" required>
                <span id="selecao2Semi">{{ selecao2Semi }}</span>

                <hr />

                <h5>Jogo 58</h5>

                <p class="lead data-jogos">QUA, 14/12/2022 às 16:00</p>
                <span id="selecao3Semi">{{ selecao3Semi }}</span>
                <input type="number" min="0" max="10" id="res27" name="res27" value="{{ info.res27 }}" required> x
                <input type="number" min="0" max="10" id="res28" name="res28" value="{{ info.res28 }}" required>
                <span id="selecao4Semi">{{ selecao4Semi }}</span>

                <hr />

                <div class="mt-4">
                    <button type="submit" class="btn btn-info btn-lg">
                        <span class="ml-2">Salvar resultados</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let selecao1Semi = document.getElementById('selecao1Semi').innerText
    let selecao2Semi = document.getElementById('selecao2Semi').innerText
    let selecao3Semi = document.getElementById('selecao3Semi').innerText
    let selecao4Semi = document.getElementById('selecao4Semi').innerText

    if (selecao1Semi.length == 16 || selecao2Semi.length == 16) {
        var input1 = document.querySelector('#res25')
        var input2 = document.querySelector('#res26')
        input1.disabled = true
        input2.disabled = true
    }
    if (selecao3Semi.length == 16 || selecao4Semi.length == 16) {
        var input1 = document.querySelector('#res27')
        var input2 = document.querySelector('#res28')
        input1.disabled = true
        input2.disabled = true
    }
</script>

{% endblock %}