{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="text-center">
            <h3>Eliminatórias</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="text-center">
            <h5>Oitavas de Final</h5>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="text-center">
            <form action="{% url 'main:salvareliminatoriasoitavas' %}" method="POST">
                {% csrf_token %}

                <p class="lead"><strong>Jogo 49</strong></p>
                <span>{{ primeiroColocadoA }}

                    <input type="number" min="0" max="10" id="res1" name="res1" value="{{ info.res1 }}" required> x
                    <input type="number" min="0" max="10" id="res2" name="res2" value="{{ info.res2 }}" required>

                    {{ segundoColocadoB }}
                </span>
                <br />
                <br />

                <p class="lead"><strong>Jogo 50</strong></p>
                <span>{{ primeiroColocadoC }}

                    <input type="number" min="0" max="10" id="res3" name="res3" value="{{ info.res3 }}" required> x
                    <input type="number" min="0" max="10" id="res4" name="res4" value="{{ info.res4 }}" required>

                    {{ segundoColocadoD }}
                </span>
                <br />
                <br />

                <p class="lead"><strong>Jogo 51</strong></p>
                <span>{{ primeiroColocadoB }}

                    <input type="number" min="0" max="10" id="res5" name="res5" value="{{ info.res5 }}" required> x
                    <input type="number" min="0" max="10" id="res6" name="res6" value="{{ info.res6 }}" required>

                    {{ segundoColocadoA }}
                </span>
                <br />
                <br />

                <p class="lead"><strong>Jogo 52</strong></p>
                <span>{{ primeiroColocadoD }}

                    <input type="number" min="0" max="10" id="res7" name="res7" value="{{ info.res7 }}" required> x
                    <input type="number" min="0" max="10" id="res8" name="res8" value="{{ info.res8 }}" required>

                    {{ segundoColocadoC }}
                </span>
                <br />
                <br />

                <p class="lead"><strong>Jogo 53</strong></p>
                <span>{{ primeiroColocadoE }}

                    <input type="number" min="0" max="10" id="res9" name="res9" value="{{ info.res9 }}" required> x
                    <input type="number" min="0" max="10" id="res10" name="res10" value="{{ info.res10 }}" required>

                    {{ segundoColocadoF }}
                </span>
                <br />
                <br />

                <p class="lead"><strong>Jogo 54</strong></p>
                <span>{{ primeiroColocadoG }}

                    <input type="number" min="0" max="10" id="res11" name="res11" value="{{ info.res11 }}" required> x
                    <input type="number" min="0" max="10" id="res12" name="res12" value="{{ info.res12 }}" required>

                    {{ segundoColocadoH }}
                </span>
                <br />
                <br />

                <p class="lead"><strong>Jogo 55</strong></p>
                <span>{{ primeiroColocadoF }}

                    <input type="number" min="0" max="10" id="res13" name="res13" value="{{ info.res13 }}" required> x
                    <input type="number" min="0" max="10" id="res14" name="res14" value="{{ info.res14 }}" required>

                    {{ segundoColocadoE }}
                </span>
                <br />
                <br />

                <p class="lead"><strong>Jogo 56</strong></p>
                <span>{{ primeiroColocadoH }}

                    <input type="number" min="0" max="10" id="res15" name="res15" value="{{ info.res15 }}" required> x
                    <input type="number" min="0" max="10" id="res16" name="res16" value="{{ info.res16 }}" required>

                    {{ segundoColocadoG }}
                </span>
                <br />
                <br />

                <button type="submit" class="btn btn-info btn-lg">
                    <span class="ml-2">Salvar resultados</span>
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}