{% extends 'main/grupoA.html' %}

{% block letraGrupo %}E{% endblock %}

{% block urlForm %}
<form action="{% url 'main:salvartabelagrupoE' %}" method="POST">
    {% endblock %}

    {% block data-primeira-rodada-1 %}
    <p class="lead data-jogos">QUA, 23/11/2022 às 13:00</p>
    {% endblock %}

    {% block data-primeira-rodada-2 %}
    <p class="lead data-jogos">QUA, 23/11/2022 às 10:00</p>
    {% endblock %}

    {% block data-segunda-rodada-1 %}
    <p class="lead data-jogos">DOM, 27/11/2022 às 16:00</p>
    {% endblock %}

    {% block data-segunda-rodada-2 %}
    <p class="lead data-jogos">DOM, 27/11/2022 às 07:00</p>
    {% endblock %}

    {% block data-terceira-rodada-1 %}
    <p class="lead data-jogos">QUI, 01/12/2022 às 16:00</p>
    {% endblock %}

    {% block data-terceira-rodada-2 %}
    <p class="lead data-jogos">QUI, 01/12/2022 às 16:00</p>
    {% endblock %}

    {% block primeirosColocados %}
    <div class="row">
        <div class="col-12 mt-3">
            <span class="lead mr-2">1º colocado</span>
            <select id="primeiroColocado" name="primeiroColocado">
                <option selected value="{{ info.primeiroColocado }}">{{ info.primeiroColocado }}</option>
                <option value="Alemanha">Alemanha</option>
                <option value="Japão">Japão</option>
                <option value="Espanha">Espanha</option>
                <option value="Costa Rica">Costa Rica</option>
            </select>
        </div>
    </div>

    <div class="mt-3 mb-3"></div>

    <div class="row">
        <div class="col-12">
            <span class="lead mr-2">2º colocado</span>
            <select id="segundoColocado" name="segundoColocado">
                <option selected value="{{ info.segundoColocado }}">{{ info.segundoColocado }}</option>
                <option value="Alemanha">Alemanha</option>
                <option value="Japão">Japão</option>
                <option value="Espanha">Espanha</option>
                <option value="Costa Rica">Costa Rica</option>
            </select>
        </div>
    </div>
    {% endblock %}