{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="row mt-4 mb-4">
    <div class="col-12">
        <div class="text-center">
            <h3>Olá <strong>{{ request.user }}</strong></h3>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="ml2">
            {% for usuario in bolaousergrupoA %}
            <a href="{% url 'main:pagegrupoA' usuario.id %}">Clique aqui</a> para começar o seu bolão GRUPO A.
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="ml2">
            {% for usuario in bolaousergrupoB %}
            <a href="{% url 'main:pagegrupoB' usuario.id %}">Clique aqui</a> para começar o seu bolão GRUPO B.
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="ml2">
            {% for usuario in bolaousergrupoC %}
            <a href="{% url 'main:pagegrupoC' usuario.id %}">Clique aqui</a> para começar o seu bolão GRUPO C.
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="ml2">
            {% for usuario in bolaousergrupoD %}
            <a href="{% url 'main:pagegrupoD' usuario.id %}">Clique aqui</a> para começar o seu bolão GRUPO D.
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="ml2">
            {% for usuario in bolaousergrupoE %}
            <a href="{% url 'main:pagegrupoE' usuario.id %}">Clique aqui</a> para começar o seu bolão GRUPO E.
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="ml2">
            {% for usuario in bolaousergrupoF %}
            <a href="{% url 'main:pagegrupoF' usuario.id %}">Clique aqui</a> para começar o seu bolão GRUPO F.
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="ml2">
            {% for usuario in bolaousergrupoG %}
            <a href="{% url 'main:pagegrupoG' usuario.id %}">Clique aqui</a> para começar o seu bolão GRUPO G.
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="ml2">
            {% for usuario in bolaousergrupoH %}
            <a href="{% url 'main:pagegrupoH' usuario.id %}">Clique aqui</a> para começar o seu bolão GRUPO H.
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="ml2">
            {% for usuario in eliminatorias %}
            <a href="{% url 'main:eliminatoriasOitavas' usuario.id %}">Clique aqui</a> para as eliminatórias das oitavas
            de final.
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="ml2">
            {% for usuario in eliminatorias %}
            <a href="{% url 'main:eliminatoriasQuartas' usuario.id %}">Clique aqui</a> para as eliminatórias das quartas
            de final.
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="ml2">
            {% for usuario in eliminatorias %}
            <a href="{% url 'main:eliminatoriasSemi' usuario.id %}">Clique aqui</a> para as eliminatórias da semi
            final.
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}

{% endblock %}